<div class="container">
  <div class="row text-center">
    <div class="col-sm-12 col-md-9 col-lg-9 mx-auto my-2 pt-2 border border-secondary border-3">
      <p><strong>新規選択（10個まで選択可能です）</strong><br><span>変更しない場合はこのままプレビュー画面へお進みください</span></p>
      <div class="tags_index edit">
        <%= render 'public/tags/edit_index',tags: @tags, post_item: @post %>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
      <div class="current_tags_selected my-2 border border-secondary">
        <p class="text-center"><strong>現在紐づけられているタグ</strong></p>
        <div class="d-flex flex-wrap align-items-center">
          <% @selected_tags.each do |tag| %>
            <div class="text-light bg-info border border-light rounded px-2 my-2">
              <%= tag.name %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tag_form mt-2">
        <%= render 'public/tags/edit_form', tag: @tag, post_item: @post %>
      </div>
    </div>
  </div>
</div>