<div class="container-fruid bg_top py-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 pb-5 mx-auto bg-dark text-white rounded border border-light">
      <h1 class="display-2 text-center my-5">Vintage Connect</h1>
      <div class="catch_copy text-center">
        <h3>
          運命を運ぶお店の糸<br>
          時を超えた出会いの記録
        </h3>
      </div>
      <div class="introduction text-center">
        <p class="py-3">
          古着・古物・古道具・アンティーク<br>
          「オールド」好き同士で繋げるお店のネットワークです。<br>
          好きな物、価値の高い物、それらを扱うすばらしいお店に出会った時のあなたの感動を載せてください。
        </p>
      </div>
      <div class="button text-center">
        <%= link_to '新規登録', new_user_registration_path, class:'btn btn-primary mx-2' %>
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, class:'btn btn-secondary mx-2' %>
        <%= link_to 'ログイン', new_user_session_path, class:'btn btn-success mx-2' %>
      </div>
    </div>
  </div>
</div>