// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.green{
  background-color:#98fb98;
}

.yellow{
  background-color:#ffff00;
}

.red{
  background-color:#ff0000;
}

.gray{
  background-color:#808080;
}

.comments{
  height:150px;
}

.deleted_comments{
  height:150px;
}

.able{
  height:250px;
}

.disabled{
  height:250px;
}